@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}


.invert-radius-lb::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  height: 50px;
  width: 25px;
  border-top-left-radius: 1.5rem;
  box-shadow: 0 -25px 0 0 #fff;
}

.invert-radius-rt::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0px;
  right: -25px;
  height: 50px;
  width: 25px;
  border-top-left-radius: 25px;
  box-shadow: 0 -25px 0 0 #fff;
}





.invert-radius-lb-2::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0px;
  right: -25px;
  height: 50px;
  width: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 25px 0 0 #fff;
}

.btn-1 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 24px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btn-1:disabled {
  pointer-events: none;
}

.btn-1:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn-1:active {
  box-shadow: none;
  transform: translateY(0);
}


/* NAVBAR */

.nav-menu-item {
  background-color: red;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* TECHNOLOGY */

.tech-card {
  cursor: pointer;
  border-radius: 14px;
  background-color: #121E2D;
  color: white;
  /* width: 170px;
  height: 250px; */
  width: auto;
  height: auto;
  position: relative;
}

.tech-card::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 7px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(125deg, rgba(248,255,0,1) 44%, rgba(255,173,0,1) 61%, rgba(161,0,137,1) 85%);
  border-radius: 14px;
}

.tech-card-mt-125 {
  margin-top: 125px;
}

.tech-card-mt-250 {
  margin-top: 250px;
}


.skill-card-container {
  height: 400px;
}


.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.skill-card-open {
  width: 600px;
}


/* HERO */

.hero-background {
  /* background-color: #0A111E; */
  background-color: #F3F3F3;
  
  /* background-color: #FF3CAC; */
  /* background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */
  
  /* width: 100vw; */
  height: 100vh;
}



